{{^if featured}}
{{^if image}}
<section id="post-{{id}}-{{slug}}" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
	<div class="mdl-card mdl-cell mdl-cell--12-col">
		<div class="mdl-card__supporting-text">
			<h4>{{title}}</h4>
			{{excerpt}}
		</div>
		{{> index-post-tags}}
	</div>
	{{> index-post-menu}}
</section>
{{/if}}{{!image}}
{{/if}}{{!featured}}
