{{!< common}}

<div class="mdl-layout__tab-panel is-active" id="overview">
	{{#foreach posts}}
		{{> index-post-cover}}
		{{> index-post}}
		{{> index-post-featured}}
	{{/foreach}}

	{{> index-footer}}
</div>
